# This is a basic workflow to help you get started with Actions

name: get release dats

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      # Runs a set of commands using the runners shell
      - name: Get dates grep only
        run: |
          for v in $(ls -d v* | sort -V); do
            result=$(curl -s "https://api.github.com/repos/ror-community/ror-updates/releases/tags/$v" | \
                     grep -o '"created_at":"[^"]*"')
            
            if [ -n "$result" ]; then
              # Enlever '"created_at":"' au début et '"' à la fin
              date="${result:13}"    # Enlève les 13 premiers caractères
              date="${date%\"}"      # Enlève le dernier guillemet
              echo "$v: $date"
            else
              echo "$v: NOT_FOUND"
            fi
          done
